.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: start;
  color: #fff;
  padding: 16px;
}
.card-overlay h3 {
  margin: 0 0 8px 0;
}
.card-overlay p {
  margin: 0;
}
